@import '../../../assets/variables';

.button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button--info {
  background-color: $ad-color-button-info;
}

.button--warning {
  background-color: $ad-color-button-warning;
}

.button--info:hover {
  background-color: $ad-color-button-info-hover;
}

.button--warning:hover {
  background-color: $ad-color-button-warning-hover;
}
