@import '../../../assets/_variables';

.button {
  color: $ad-color-white;
  padding: 10px;
  border-radius: 6px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &--info {
    background-color: $ad-color-button-info;

    &:hover {
      background-color: $ad-color-button-info-hover;
    }
  }

  &--warning {
    background-color: $ad-color-button-warning;

    &:hover {
      background-color: $ad-color-button-warning-hover;
    }
  }
}
