.addresses__table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
}

.addresses__table th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.addresses__table tr:hover {
  background-color: #e3e3e3;
}

h1 {
  margin: 1rem 0;
}
