// COLORS

$ad-color-navbar-background: #4c6277;
$ad-color-navbar-background-hover: #5c3fc2;
$ad-color-button-info: #2629d6;
$ad-color-button-info-hover: #898bd8;
$ad-color-button-warning: #9b3439;
$ad-color-button-warning-hover: #ee1a25;
