@import '../../../assets/_variables';

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 60px;
  background-color: $ad-color-navbar-background;
  display: flex;
  flex-direction: row;

  &__item {
    padding: 20px 10px;
    border-right: 1px solid $ad-color-white;
    min-width: 150px;
    text-decoration: none;
    color: $ad-color-white;
  }

  &__item:hover,
  &__item:active {
    background-color: $ad-color-navbar-background-hover;
  }
}
